body {
    //background-color: #f6f9fc;
    //background-color: #e9ecef;
    //background-color: #dee2e6;
    background-color: #ced4da;
    //background-color: #adb5bd;
    //background-color: #8898aa;
    //background-color: #525f7f;
    //background-color: #32325d;
    //background-color: #212529;
}
.film-card {
    background-color: #f6f9fc;
    /*border: 1px solid #32325d;*/
    margin: 1px;
}
.content {
    /*background-color: #f4f5f7;*/
    //background-color: #f6f9fc;
    background-color: #e9ecef;
    //background-color: #dee2e6;
    //background-color: #ced4da;
    //background-color: #adb5bd;
    //background-color: #8898aa;
    //background-color: #525f7f;
    //background-color: #32325d;
    //background-color: #212529;
    width: 60%;
    min-height: 100vh;
    margin: auto;
    padding: 50px;
    color: #32325d;
    border-left: 1px solid #adb5bd;
    border-right: 1px solid #adb5bd;
}
.poster-sm {
    position: relative;
    width: 90px;
    float: left;
}

.poster-lg {
    width: 200px;
    margin-top: 10px;
    float: left;
    margin-right: 20px;
}
.search-item-title {
    padding-left: 100px;
}
.search-item-title a b{
    color: #32325d;
    text-decoration: underline;
}

hr {
    margin-top: 5px;
    margin-bottom: 5px;
}

.search-result .description-item {
    font-size: 13px;
    padding-left: 100px;
}

.search-description {
    position: relative;
    margin-top: 10px;
}


