body {
    background-color: #D2D1D6;
}

h4, h3, h5 {
     color: #0E0E0E;
}

.film-card {
    background-color: #f6f9fc;
    margin: 1px;
}
.content-container {
    background-color: #E8E8E8;
    width: 1100px;
    min-height: 100vh;
    height: auto;
    margin: 0 auto;
    padding-top: 50px;
    color: #0E0E0E;
    border-left: 1px solid #adb5bd;
    border-right: 1px solid #adb5bd;
}

.content {
    display: block;
    width: 1050px;
    height: auto;
    margin: 0 auto;
    position: relative;
}

.item-poster {
    border-radius: 5px;
    width: 115px;
    height: 173px;
}

.item-poster-container {
    float: left;
    padding-right: 10px;
    padding-top: 10px;
    margin-left: 5px;
}

.item-content {
    float: left;
    width: 213px;
    height: 173px;
    background-color: white;
    border-radius: 5px;
    margin-top: 10px;
    margin-right: 5px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 13px;
    color: #0E0E0E;
}

.item-title {
    height: 40px;
    float: left;
    width: 169px;
    margin-top: 5px;
}

.item-content a {
    color: #0E0E0E;
    text-decoration: underline;
    font-size: 14px;
}

.item-description {
    margin-top: 15px;
}

.favorite {
    float: right;
    margin: 6px;
    color: #E875CE;
    cursor: pointer;
    font-size: 15px;
}

.wish-button {
    float: right;
    margin-top: -37px;
}

.film-directors a {
    text-decoration: underline;
    color: #0E0E0E;
}

.big-item-poster-container {
    float: left;
}

.big-poster {
    width: 250px;
    height: 375px;
    border-radius: 5px;
    margin-right: 10px;
}

.big-item-content {
    background-color: white;
    border-radius: 5px;
    color: #0E0E0E;
    float: left;
    width: 790px;
    height: 375px;
    padding: 10px;
}
.big-item-description {
    margin-top: 50px;
}

.pagination-container {
    margin-top: 580px;
}


.request-status {
    float: right;
}

.request-poster-container {
    float: left;
}

.request-poster {
    width: 180px;
    height: 280px;
    border-radius: 5px;
    margin-top: 10px;
}

.requests-container {
    width: 1100px;
}

.request-content {
    margin-top: 10px;
    width: 855px;
    height: 280px;
    background-color: white;
    float: left;
    border-radius: 5px;
    margin-left: 10px;
    padding: 15px;
    word-wrap: break-word;
}

.film-form-content {
    position: relative;
    width: 1200px;
    height: 500px;
    margin-left: -400px;
}

.film-form-background {
    background-color: rgba(0, 0, 0, 0.7);
}

.notification {
    position: fixed;
    top: 80px;
    right: 0px;
    width: 500px;
    height: 55px;
}

/*Это анимация а не пустые стили - удалять не нужно*/
.notification-enter-active {
    transition: all 1s ease;
}

.notification-leave-active {
    transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}

.notification-enter, .notification-leave-to {
    transform: translateX(1500px);
    opacity: 0;
}

